---
import type { CollectionKey } from 'astro:content';

import { GoogleFonts } from '@ds-starter/fonts';

import { LS_KEY_META, LS_PREFIX } from '../shared/globals';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Sidebar from '../components/Sidebar.astro';

interface Props {
  title: string;
  section?: CollectionKey;
  showNav?: boolean;
}

const { title, section, showNav = true } = Astro.props;
const isIndex = Astro.url.pathname === '/';
const showMenu = showNav && !isIndex;

import '@csstools/normalize.css/normalize.css';
import '@ds-starter/tokens/css/tokens.css';

import '../assets/css/index.css';
---

<!doctype html>
<html lang="en" data-theme="dark" data-ls={`${LS_PREFIX} ${LS_KEY_META}`}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="DSS Docs - Design System Starter Docs" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <title>{title}</title>

    <GoogleFonts weights={[400, 700]} />
  </head>
  <body>
    <div class="page">
      <Header class="header" showMenuToggle={showMenu} />

      <div class="wrap">
        {showMenu && <Sidebar class="side" section={section} />}

        <main class="main">
          <div class={`content${isIndex ? ' __index' : ''}`}>
            <slot />
          </div>

          <Footer class="footer" />
        </main>
      </div>
    </div>
    <style>
      .page {
        display: flex;
        flex-flow: column nowrap;

        flex: 1 1 auto;

        position: relative;
        box-sizing: border-box;

        width: 100%;
      }

      .header,
      .footer {
        flex: 0 1 auto;
      }

      .wrap {
        display: flex;
        flex-flow: row nowrap;

        position: relative;
        z-index: 1;

        flex: 1 1 auto;
        box-sizing: border-box;

        width: 100%;
      }

      .main {
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;

        width: 100%;
        background: var(--awsm-color-background-regular);
      }

      .content {
        box-sizing: border-box;
        flex: 1 0 auto;
        width: 100%;
        max-width: 90ch;
        padding: var(--awsm-space-10) var(--awsm-space-16);
      }

      .content.__index {
        margin: 0 auto;
      }

      @media screen and (max-width: 1280px) {
        .content {
          padding: var(--awsm-space-6) var(--awsm-space-8);
        }

        .content:not(.__index) {
          max-width: none;
        }
      }

      @media screen and (max-width: 780px) {
        .content {
          padding: var(--awsm-space-6) var(--awsm-space-8);
        }
      }

      @media screen and (max-width: 480px) {
        .content {
          padding: var(--awsm-space-4);
        }
      }

      .side {
        flex: 0 1 auto;
      }
    </style>

    <script is:inline>
      history.scrollRestoration = 'manual';
    </script>

    <script is:inline>
      const lsData = document.documentElement.dataset['ls'].split(' ');
      const meta =
        typeof localStorage !== 'undefined' &&
        localStorage.getItem(`${lsData[0]}.${lsData[1]}`);
      const theme = JSON.parse(meta).colorTheme;

      document.documentElement.dataset['theme'] = theme;
    </script>

    <script>
      import { $exampleState } from '../store/store';
      import { EXAMPLE_STATE } from '../shared/globals';

      if (location.hash) {
        const hash = location.hash;

        location.hash = '';
        window.document.documentElement.style.overflow = 'hidden';

        $exampleState.subscribe((state) => {
          if (state === EXAMPLE_STATE.idle) {
            const target = document.getElementById(hash.slice(1).trim());

            location.hash = hash;

            if (target) {
              setTimeout(() => {
                target.scrollIntoView({ behavior: 'smooth' });
                window.document.documentElement.style.overflow = 'auto';
              }, 150);
            }
          }
        });
      }
    </script>
  </body>
</html>
